#
# This is a sample file for application secrets.
#
# TODO: fill in the environment variables and save this
# file as .env in the project root directory
#

export IPINFO_SERVICE_TOKEN=VerySecr3t
export WUNDERGROUND_API_KEY=D0NotTellAny1
